.container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 20rem;
    background: rgba(148, 5, 202,1);
    z-index: 2;
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out;
}

.activateSideBar {
    transform: translateX(0);
}

.main {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.main div {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main div a {
    opacity: 1;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    border-bottom: 3px solid white;
    margin-bottom: 0.5rem;
    transition: all 0.5s ease-in-out;
}

.main div a:hover,
.main div a:focus,
.main div a:active {
    transform: translateX(20px);
}

@media (min-width: 900px) {
    .container {
        transform: translateX(-100%);
    }
}