.container {
    width: 90% !important;
}

.filterBtnContainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-flow: column;
}

@media (max-width: 700px) {
    .filterBtnContainer {
        align-items: flex-start;
    }
}