.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5rem;
    flex-flow: column;
    z-index: 0;
}

.main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main button {
    margin-right: 0;
}

.main > form {
    width: 80%;
}

.pictureNavContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: 'Roboto Slab', serif;
}