.container {
    display: flex;
    width: 100vw;
    height: fit-content;
    position: fixed;
    top: 0;
    left: 0;
    font-family: 'Roboto Slab', serif;
    z-index: 1;
    background: white;
    flex-flow: column;
}

.container a {
    text-decoration: none;
    color: black;
    transition: all 0.3s;
}

.container a:hover,
.container a:focus,
.container a:focus {
    color: #7205D7;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem 1rem;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navContainer a {
    margin: 0 0.5rem;
}

.navRight {
    display: flex;
}

.navLeft > a img {
    width: 40px;
    height: 40px;
}

.brand {

}

.navLeft {

}

.hamburgerContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    border: 3px solid black;
    display: none;
}

.hamburgerMain {
    cursor: pointer;
    width: 20px;
    height: 3px;
    background: black;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.hamburgerMain::before,
.hamburgerMain::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 3px;
    background: black;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.hamburgerMain::before {
    transform: translateY(-5px);
}

.hamburgerMain::after {
    transform: translateY(5px);
}

.hamburgerContainer.open .hamburgerMain {
    transform: translateX(-50px);
    background: transparent;
}

.hamburgerContainer.open .hamburgerMain::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.hamburgerContainer.open .hamburgerMain::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

@media (max-width: 900px) {
    .navRight {
        display: none;
    }

    .hamburgerContainer {
        display: flex;
    }
}

