.container {
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5rem;
    flex-flow: column;
}

.container form {
    width: 90%;
}

.main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main div {
    width: 100%;
}

.errorContainer {
    color: red;
    font-weight: 500;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: 'Roboto Slab', serif;
    margin: 1rem 0;
}

@media (max-width: 600px) {
    .headerContainer {
        flex-flow: column;
        align-items: flex-start;
    }
}

.headerContainer img {
    width: 50px;
    height: 50px;
    margin: 1rem;
}

.headerContainer > input {
    font-family: "Font Awesome\ 5 Free", sans-serif;
}

.headerContainer a {
    font-family: "Font Awesome\ 5 Free", sans-serif;
}

.departmentTable {
    font-family: "Roboto", sans-serif;
    padding: 0 2rem;
}

.departmentTable thead th {
    font-weight: 400;
}

.departmentTable tbody td {
    font-weight: 300;
}

