.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5rem;
    flex-flow: column;
    z-index: 0;
}

.container form {
    width: 90%;
}

.main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main div {
    width: 100%;
}

.errorContainer {
    color: red;
    font-weight: 500;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: 'Roboto Slab', serif;
    margin: 1rem 0;
    margin-bottom: 0;
}

@media (max-width: 700px) {
    .headerContainer {
        flex-flow: column;
        align-items: flex-start;
    }
}

.headerContainer img {
    width: 50px;
    height: 50px;
    margin: 1rem;
}

.headerContainer > input {
    font-family: "Font Awesome\ 5 Free", sans-serif;
}

.headerContainer a {
    font-family: "Font Awesome\ 5 Free", sans-serif;
}

.employeeTable {
    font-family: "Roboto", sans-serif;
    padding: 0 3rem;
}

.employeeTable table {
    width: 100%;
}

.employeeTable thead th {
    font-weight: 400;
}

.employeeTable tbody td {
    font-weight: 300;
}

.eachEmployeeContainer {
    overflow-x: hidden;
}

.employeeBtnContainer {
    font-family: "Font Awesome\ 5 Free", sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footerGroupContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 750px) {
    .headerContainer {
        flex-flow: column;
        align-items: flex-start;
    }

    .employeeBtnContainer {
        justify-content: space-evenly;
    }
}

@media (max-width: 400px) {
    .employeeBtnContainer {
        flex-flow: column;
        align-items: flex-start;
    }
}