.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 6rem;
    flex-flow: column;
    position: absolute;
    z-index: 1;
}

.main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main > form {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column;
    width: 100%;
}

.errorContainer {
    color: red;
    font-weight: 500;
    margin: 0;
    padding-left: 15px;
}

.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Roboto Slab', serif;
}

.headerContainer img {
    width: 50px;
    height: 50px;
    margin: 1rem;
}

.submitButton {
    margin-left: 15px;
}

@media (max-width: 1600px) {
    .main {
        width: 30%;
    }
}

@media (max-width: 1200px) {
    .main {
        width: 50%;
    }
}

@media (max-width: 800px) {
    .main {
        width: 70%;
    }
}

@media (max-width: 400px) {
    .main {
        width: 90%;
    }
}