.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5rem;
    flex-flow: column;
    z-index: 0;
}

.main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.authLogNavContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: 'Roboto Slab', serif;
    padding: 0 3rem;
}

.authLogNavContainer button {
    font-family: "Font Awesome\ 5 Free", sans-serif;
}

.authLogTable {
    font-family: "Roboto", sans-serif;
    padding: 0 3rem;
}

.authLogTable table {
    width: 100%;
}

.authLogTable thead th {
    font-weight: 400;
}

.authLogTable tbody td {
    font-weight: 300;
}